<h1>Add a recipe</h1>

<form action="/recipes" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text" name="description">
  </div>
  <div>
    <label for="prep_time">Preparation time</label>
    <input type="text" name="prep_time">
  </div>
  <div>
    <label for="difficulty">Difficulty</label>
    <input type="text" name="difficulty">
  </div>
  <input type="submit" value="Submit">
</form>
