<h1>Add a recipe</h1>

<hr>

<form action="/recipes" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" type="text" name="description">
  </div>
  <div class="form-group">
    <label for="prep_time">Preparation time</label>
    <input class="form-control" type="text" name="prep_time">
  </div>
  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input class="form-control" type="text" name="difficulty">
  </div>
  <input type="submit" value="Submit" class="btn btn-default">
</form>
